@{

}

<div>
    <div style="width:100%; height:60px;">
        <div class="logoBox"/>
        <label class="logoTextWork">Work</label>
        <label class="logoTextCabi">Cabinet</label>
        <label class="logoTextdotNET">.NET</label>
    </div>
</div>