<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkCabinet</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/worktable.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorkCabinet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/tabulator/css/tabulator.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="_ItemHeader" />
    </header>

    <div id="bodyDiv" style="height:calc(100% - 160px)">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>
    <script src="~/lib/tabulator/js/tabulator.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/worktable.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
